html {
    font-size: 17px;
}

// body {
//     font-family: "Nunito", sans-serif;
// }
body {
    font-family: 'Quicksand', sans-serif;
    color: gray;
}

p {
    // font-size: 2rem;
    // margin-bottom: -10px !important;
}

h2 {
    margin: 0;
    color:#55D251;
}

h4 {
    font-size: 20px;
    margin: 0;
    // background-color: pink;
}

small {
    font-weight: lighter;
    color: gray;
    padding: 2% 0 4% 0;
    // background-color: green;
}

.flex {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    // background-color: red;
}

button {

    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.Repayment-schedule {
    
    display: flex;
    justify-content: center;
    width: 60vw;
    // background-color: green;
    box-sizing: border-box;
    border: none;



    * {
        background-color: #fff;
        padding: 10% 6% 8% 6%;
        box-sizing: border-box;
        height: 60px;
        transform: translateY(20%);
    }
    &__Week {
        border-radius: 25px 0 0 0;

        // transform-origin: center center;
        transition: transform .2s;
        outline: none;
        
        
    }

    &__Week:focus {
       background-color: #61A261;
       border-radius: 25px 12px 0 0;
       color: #fff;
       transform: scale(1.1, 1.1);
       -webkit-tap-highlight-color: transparent;
    }

    &__Fornight {
        transition: transform .2s;
        outline: none;
    }

    &__Fornight:focus {
        background-color: #61A261;
        border-radius:  20px 20px 0 0;
        color: #fff;
        transform: scale(1.1, 1.1);
        -webkit-tap-highlight-color: transparent;
        }

    &__Month {
        border-radius: 0 25px 0 0;
        transition: transform .2s;
        outline: none;
    }
    &__Month:focus {
        background-color: #61A261;
        border-radius: 12px 25px 0 0;
        color: #fff;
        transform: scale(1.1, 1.1);
        -webkit-tap-highlight-color: transparent;
        }

  
}

.Repayment-schedule__week {
    background-color: green;
}

.Calculator {
    max-height: 500px;
}

.Calculator__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // padding: 2rem;
    border-radius: 2rem;
    width: 100%;
    margin: 0 auto;
    // box-shadow: 15px 20px 70px -10px;
    // background-color: white;
    box-sizing: border-box;
}

.Input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #fff!important;
    border-radius: 2rem;
    box-shadow: 0 10px 32px 4px rgba(0, 0, 0, 0.2), 0 2px 6px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 4%;
}

.Input-wrapper__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6% 0 6% 0;
    width: 100%;
    // background-color: yellow;
}

.DisplayMonthlyRepayment {
    margin: 0;
    padding: 0;
    // background-color: yellow;
}

.test {
    display: flex;
    flex-direction: column;
    align-item: center;
}

.input-range__label--max {
    display: none;
}

.input-range__label--min {
    display: none;
}

.input-range__label-container {
    left: -50%;
    position: relative;
    display: none;
}

.input-range {
    
    &__slider {
        background-color: #5AD356!important;
        border: none!important;
    }

    &__track--active {
        background-color: #B3D5B2!important;
    }
}

.payment-amount__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

