html {
    font-size: 17px;
}

// body {
//     font-family: "Nunito", sans-serif;
// }
body {
    font-family: 'Quicksand', sans-serif;
    color: gray;
}

p {
    // font-size: 2rem;
    // margin-bottom: -10px !important;
}

h2 {
    margin: 0;
    color: #3f51b5;
}

h4 {
    font-size: 20px;
    margin: 0;
    // background-color: pink;
}

small {
    font-weight: lighter;
    color: gray;
    padding: 2% 0 4% 0;
    // background-color: green;
}

.flex {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    // background-color: red;
}

.Repayment-schedule {
    display: flex;
    justify-content: center;
    width: 60vw;
    // background-color: green;
    box-sizing: border-box;
    * {
        background-color: #fff;
        padding: 10% 6% 20% 6%;
        box-sizing: border-box;
        transform: translateY(40%);
    }
    &__weekly {
        border-radius: 25px 0 0 0;
    }
    &__fornightly {}
    &__monthly {
        border-radius: 0 25px 0 0;
    }
    &__monthly,
    &__weekly,
    &__fortnightly {
        &:hover {
            background-color: #3F51B5;
            color: white;
            // padding-top: 16%;
        }
    }
    &__fornightly:hover {}
}

.Calculator {
    display: flex;
    // background-color: red;
    width: 100%;
    justify-content: center;
}

.Calculator__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // padding: 2rem;
    border-radius: 2rem;
    width: 40%;
    margin: 0 auto;
    // box-shadow: 15px 20px 70px -10px;
    // background-color: white;
    box-sizing: border-box;
}

.Input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 10px 32px 4px rgba(0, 0, 0, 0.2), 0 2px 6px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.Input-wrapper__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6% 0 6% 0;
    width: 90vw;
    // background-color: yellow;
}

.DisplayMonthlyRepayment {
    margin: 0;
    padding: 0;
    // background-color: yellow;
}

.test {
    display: flex;
    flex-direction: column;
    align-item: center;
}

.input-range__label--max {
    display: none;
}

.input-range__label--min {
    display: none;
}

.input-range__label-container {
    left: -50%;
    position: relative;
    display: none;
}